<div class="jumbotron">
  <div class="col-md-*">
    <h1>Research Word Cloud</h1>

    <div id="wordCloud">
      

    </div>

    <div id="autocompleteBox">
      <input type="text" id="topic_title" value={{artistName}} ng-model="artistName" ng-init="artistName='Enter an artist'">
       <script>
      //   $("#autocomplete").autocomplete({
      //       source: [ "c++", "java", "php", "coldfusion", "javascript", "asp", "ruby" ]

      //       // source: "search.php",
      //       // minLength: 2, //search after two characters
      //       // select: function(event, ui) {
      //       //     //do something

      //       // }
      //   });
       </script>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="buttons">
            <button type="button" class="btn btn-lg " ng-click="newArtist(artistName)"> Submit </button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      
    </div>


</div>
