<div class="jumbotron">
  <div class="col-md-*">
    <h1>Research Word Cloud</h1>

    <div id="wordCloud">

    <div class="progress progress-striped active" ng-show="wordCloudGenerating">
        <div class="bar" style="width: 0%;"></div>
    </div>
      
    </div>

    <div id="wcAutocomplete">
      <div class="row">
        <input type="text" id="topic_title" value={{artistName}} ng-model="artistName" ng-init="artistName='Enter a researcher or keyword'" ng-click="artistName=''">
        <div wc-autocomplete></div>
      </div>
      
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="buttons">
            <button type="button" class="btn btn-lg " ng-click="newArtist(artistName)"> Submit </button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>




</div>
