<div class="jumbotron">
	<div class="col-md-*">

		<div class="row">
			<div id="title">
  				<h1>Research Publications</h1>
  			</div>
		</div>
  		
    
		<div class="row">
			<div id="pub-list">
				<!-- TODO change to get data from API
				add album art and remove search -->
				<!-- I have {{pubList.length}} pubs containing {{word}}: -->
      			<div ng-init="pubs = [
				  {name:'Android Development Best Practices', occurences: 20},
				  {name:'Server Backend Comparison', occurences: 10},
				  {name:'Programming Language Compile Times', occurences: 2}
				]">
				  I have 3 publications containing java:
				  <!-- <input type="search" ng-model="q" placeholder="filter pubs..." /> -->
				  <ul class="example-animate-container">
				    <li class="animate-repeat" ng-repeat="pub in pubs | filter:q as results" ng-click="showresearchs(pub)">
				       {{word}} appears in {{pub.name}}  {{pub.occurences}} times.
				    </li>
				    <li class="animate-repeat" ng-if="results.length == 0">
				      <strong>No results found...</strong>
				    </li>
				  </ul>
				</div>
    		</div>
		</div>
    	
		<div class="row">
			<div id="back">
    			<button type="button" class="backBTN" ng-click="goBack()"> Back </button>
    		</div>
		</div>
    	
      
	</div>
</div>
