<div class="jumbotron">
	<div class="col-md-*">

		<div class="row">
			<div id="title">
  				<h1>Research Float</h1>
  				<!-- <h2> {{pubTitle}} </h2> -->
  			</div>
		</div>
  		
    
		<div class="row">
			<div id="researchs">
    
      		</div>
		</div>
    	
		<div class="row">
			<div id="back">
    			<button type="button" class="backBTN" ng-click="goBack()"> Word Cloud </button>
    			<button type="button" class="backBTN" ng-click="goBackTopubs()"> Publications List </button>
    		</div>
		</div>
    	
      
	</div>
</div>
