<div class="jumbotron">
	<div class="col-md-*">

		<div class="row">
			<div id="title">
  				<h1>Lyric Float</h1>
  			</div>
		</div>
  		
    
		<div class="row">
			<div id="song-list">
				<!-- TODO change to get data from API
				add album art and remove search -->
				<!-- I have {{songList.length}} songs containing {{word}}: -->
      			<div ng-init="songs = [
				  {name:'Sweet Home Alabama', occurences: 20},
				  {name:'Sweet Caroline', occurences: 10},
				  {name:'Get up', occurences: 2}
				]">
				  I have 3 songs containing sweet:
				  <!-- <input type="search" ng-model="q" placeholder="filter songs..." /> -->
				  <ul class="example-animate-container">
				    <li class="animate-repeat" ng-repeat="song in songs | filter:q as results" ng-click="showLyrics(song)">
				       {{word}} appears in {{song.name}}  {{song.occurences}} times.
				    </li>
				    <li class="animate-repeat" ng-if="results.length == 0">
				      <strong>No results found...</strong>
				    </li>
				  </ul>
				</div>
    		</div>
		</div>
    	
		<div class="row">
			<div id="back">
    			<button type="button" class="backBTN" ng-click="goBack()"> Back </button>
    		</div>
		</div>
    	
      
	</div>
</div>
