<div class="jumbotron">
	<div class="col-md-*">

		<div class="row">
			<div id="title">
  				<h1>Lyric Float</h1>
  				<!-- <h2> {{songTitle}} </h2> -->
  			</div>
		</div>
  		
    
		<div class="row">
			<div id="Lyrics">
      		
    		</div>
		</div>
    	
		<div class="row">
			<div id="back">
    			<button type="button" class="backBTN" ng-click="goBack()"> Word Cloud </button>
    			<button type="button" class="backBTN" ng-click="goBackToSongs()"> Song Selection </button>
    		</div>
		</div>
    	
      
	</div>
</div>
