<div class="jumbotron">
	<div class="col-md-*">

		<div class="row">
			<div id="title">
  				<h1>Research Float</h1>
  				<!-- <h2> {{pubTitle}} </h2> -->
  			</div>
		</div>
  		
    
		<div class="row">
			<div id="researchs">
      			<h2>Sweet Home Alabama</h2>
      			Big wheels keep on turning <br>
Carry me home to see my kin <br>
Singing pubs about the Southland <br>
I miss Alabama once again <br>
And I think it's a sin, yea <br>
<br>
Well, I heard Mr. Young sing about her <br>
Well, I heard ol' Neil put her down <br>
Well, I hope Neil Young will remember <br>
A Southern man don't need him around anyhow <br>

Sweet home Alabama <br>
Where the skies are so blue <br>
Sweet home Alabama <br>
Lord, I'm coming home to you <br>
<br>
In Birmingham they love the governor, boo boo boo <br>
Now we all did what we could do <br>
Now Watergate does not bother me <br>
Does your conscience bother you? Tell the truth <br>
<br>
Sweet home Alabama <br>
Where the skies are so blue <br>
Sweet home Alabama <br>
Lord, I'm coming home to you <br>
Here I come, Alabama <br>
<br>
Ah ah ah <br>
Alabama, ah ah ah <br>
Alabama, ah ah ah <br>
Alabama, ah ah ah <br>
Alabama <br>
<br>
Now Muscle Shoals has got the Swampers <br>
And they've been known to pick a pub or two <br>
(Yes, they do!) <br>
Lord, they get me off so much <br>
They pick me up when I'm feeling blue, now how about you? <br>
<br>
Sweet home Alabama <br>
Where the skies are so blue <br>
Sweet home Alabama <br>
Lord, I'm coming home to you <br>
<br>
Sweet home Alabama, oh, sweet home baby <br>
Where the skies are so blue and the governor's true <br>
Sweet home Alabama, Lord <br>
Lord, I'm coming home to you, yeah yeah<br> 
Montgomery's got the answer<br>
    		</div>
		</div>
    	
		<div class="row">
			<div id="back">
    			<button type="button" class="backBTN" ng-click="goBack()"> Word Cloud </button>
    			<button type="button" class="backBTN" ng-click="goBackTopubs()"> pub Selection </button>
    		</div>
		</div>
    	
      
	</div>
</div>
