<div class="jumbotron">
  <div class="col-md-*">
    <h1>Research Float</h1>

    <div id="wordCloud" ng-init="words = [' stop ', ' go ', ' high ', ' low ']">
      <label ng-repeat="word in words" ng-click="displaypubList(word)">
        <!-- TODO change to words from php word cloud --> 
        {{word}} 
        <!-- TODO make different colors sizes and rotations --> 
      </label>

    </div>

    <div id="autocompleteBox">
      <input type="text" id="topic_title" value={{authorName}} ng-model="authorName" ng-init="authorName='Enter an author'">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="buttons">
            <button type="button" class="btn btn-lg " ng-click="newauthor(authorName)"> Submit </button>

            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
            <button type="button" id="addToWC" class="btn btn-lg " ng-click="addauthor(authorName)"> Add to Cloud </button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      
    </div>

</div>
