<div class="jumbotron">
  <div class="col-md-*">
    <h1>Research Word Cloud</h1>
    <div  id="wordCloud"  ng-bind-html="wordCloudStuff()">
         <!--{{word}}-->
    </div>

    <!-- staert test -->
    {{messageT}}
    <div otc-dynamic> </div>
    <!-- end test-->
    <!-- testing ng-click with span TODO clean up
    <div>
    <span ng-click=displaypubList(hello)>hello </span>
    </div>
    -->
    <div id="autocompleteBox">
      <input type="text" id="topic_title" value={{artistName}} ng-model="artistName" ng-init="artistName='Enter an artist'">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="buttons">
            <button type="button" class="btn btn-lg " ng-click="newArtist(artistName)"> Submit </button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      
    </div>

</div>
