<div class="jumbotron">
  <div class="col-md-*">
    <h1>Lyric Float</h1>

    <div id="wordCloud">
      

    </div>

    <div id="autocompleteBox">
      <input type="text" id="topic_title" value={{artistName}} ng-model="newartist">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div id="buttons">
            <!-- TODO change to ng-click and pass the data from the input box to js to pass to php -->
            <button type="button" class="btn btn-lg " ng-href="#/word-cloud/" ng-click="addArtist(artistName)"> Submit </button>

            <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
            <button type="button" id="addToWC"> Add to Cloud </button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      
    </div>

</div>
